.productList {
    text-align: center;
    ul li {
        display:inline-block;
        border: 1px solid skyblue;
        padding: 5px;
        width: 150px;
    }
    ul {
        margin:0;
    }
    &__container {
        margin-top: 50px;
    }
    &__heading {
        margin-top: 20px;
    }
    &__input {
        width: 400px;
        padding:0 20px;
        border-radius: 4px;
        border: 1px solid gray;
    }
}