.addProducts {
    text-align: center;
    &__container {
        
    }
    &__input {
        width: 400px !important;
        margin-left:40%;
    }
    &__button {
        color: #fff !important;
        background: red !important;
        border:none !important;
    }
    &__error {
        color: red !important;
        text-align: left !important;
    }
}